doctype
html
  head
    title= "JavaScript and Node.js Blog | " + post.title
  body
    include _header.jade
    .container
      h1.post-title= post.title
      h6.post-date= post.postdate
      p.post-body !{post.body}
    .container
      a add comment
      .comment-form
        form(id='postform' method='post' action=('/posts/' + post.url + '/comments'))
          .row
            input.comment-name(type='text' placeholder='title' name='author')
          .row
            textarea.comment-body(placeholder='type whatever you want...' name='body')
          .row
            button.submit.comment-submit(type='submit' name='submit') Submit
    each comment in post.comments
      .container
        h4= comment.author
        pre.prettyprint= comment.body
        h5.post-date= comment.postdate
    include _footer.jade